* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
font-family: Arial, sans-serif;
}


.actions {
  height: 200px;
  width: 950px;
  margin-top: 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img[src~="blank"] {
  display: none;
}

input[type="color"] {
  height: 50px;
  width: 150px;
  padding: 8px 12px;
  cursor: pointer;
}

button {
  background: #4caf50;;
  color: #fff;
  width: 182px;
  padding: 8px 12px;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;

  border: none;
  box-shadow: none;
  outline: none;

  height: 50px;
}

.background-button:hover {
  background: #4ec353;
}

button input[type="file"] {
  display: none;
}

.container {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
  border: 1px solid;
  background: #fff;
  overflow: hidden;


  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.fence {
  transform-style: preserve-3d;
  padding: 0;
  width: 200px;
  height: 200px;
}

.fence-container {
  width: max-content;
  height: max-content;
  position: absolute;
  left: 0;
  top: 0;

  /*border: 1px solid;*/
  transform-origin: 0 0;
}

.fence-drag {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #2196f3;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;

  cursor: pointer;
}

.background {
  width: 950px;
  /*width: 1500px;*/
  height: 650px;
}

.fence-resize {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #e91e63;
  border-radius: 20px;
  z-index: 5;

  cursor: pointer;
}

.fence-resize-bottom {
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.fence-resize-right {
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.fence-flip {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffc107;
  border-radius: 20px;
  z-index: 5;

  cursor: pointer;
}

.fence-flip-top {
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.fence-flip-left {
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.fence-rotate {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 20px;
  z-index: 5;

  cursor: pointer;
}

.fence-skew {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: #9c27b0;
  border-radius: 20px;
  z-index: 5;

  cursor: pointer;
}

.fence-container:hover .fence-drag,
.fence-container:active .fence-drag,
.fence-container:hover .fence-resize,
.fence-container:active .fence-resize,
.fence-container:hover .fence-skew,
.fence-container:active .fence-skew,
.fence-container:hover .fence-flip,
.fence-container:active .fence-flip,
.fence-container:hover .fence-rotate,
.fence-container:active .fence-rotate  {
  display: block;
}
